<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="{'static' url 'css/style.css'}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Multi-Trans Bookings</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid" style="justify-content:space-between ;">
        <a class="navbar-brand pt-3 mx-5" href="/" style="color: white; height: 5rem; font-size: xx-large;">Multi-Trans Busses</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-5" id="navbarNavAltMarkup" style="float:right ">
            <div class="navbar-nav mx-5">
                <a class="nav-item nav-link active mx-5" href="{% url 'home' %}" style="color: white;">Home</a>
                <a class="nav-item nav-link mx-5" href="{% url 'findbus' %}" style="color: white;">Book Now</a>
                <a class="nav-item nav-link mx-5" href="{% url 'seebookings' %}" style="color: white;">My Bookings</a>
                {% if request.user.is_active %}
                <a class="nav-item nav-link mx-5" href="{% url 'signout' %}" style="color: white;">Sign out</a>
                {% else %}
                <a class="nav-item nav-link mx-5" href="{% url 'signup' %}" style="color: white;">Sign Up</a>
                {% endif %}


            </div>
        </div>
    </div>
</nav>  
<div class="container-fluid">
{% block content %}
{% endblock %}
</div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>